{% extends "base.html" %}

{% block small_content %}
<form id="controller-settings" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="temperatureprofile">Temperaturprofil</label>
        <select class="form-control" id="temperatureprofile" name="temperatureprofile">
            {% for profile_id, profile_name in profiles %}
            <option value="{{profile_id}}">{{profile_name}}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-default" formaction="/settings/profile/export">Exportieren</button>
        <button type="submit" class="btn btn-default" formaction="/settings/profile/delete">Löschen</button>
    </div>
    <div class="form-group" method="post">
        <label for="filename">Temperaturprofil importieren</label>
        <input type="file" id="filename" name="filename">
        <p class="help-block">
            Das Temperaturprofil muss als Exceltabelle vorliegen.
            Das <a href="/settings/Profilvorlage.xslx">Beispiel</a> kann heruntergeladen und als Vorlage genutzt werden.
        </p>
        <button type="submit" class="btn btn-default" formaction="/settings/profile/import">Importieren</button>
    </div>
</form>
{% endblock %}
